@charset "UTF-8";
/* CSS Document */
@import url("960_12_col.css");
@import url(http://fonts.googleapis.com/css?family=Niconne|Poiret+One|Goudy+Bookletter+1911);

	body {
		background-color: #ffffff;
		}
	.wrapper {
		font-size: 100%;
		background-color: #f2f2f2;;
		}
	#header {
		margin-top: 10px;
		margin-left: 0px;
		}
	h2 {
		font-family: 'Goudy Bookletter 1911', serif;
		font-size: 40px;
		line-height:10px;
		margin-top: 60px;
		margin-left: 50px;
		color: #4F4F4F;
		}
	p {
		font-family: 'Poiret One', serif;
		}

/* this styles the map */
	#map {
		margin-left: 10px;
		}
	.state{
		fill: #f2f2f2;
		}
	.border{
		fill: none;
		stroke: black;
		}
	.mission{
		fill: #19add8;
		fill-opacity: 0.5;
		}

/* this styles the tooltip */
div.tooltip {
 position: absolute;
 text-align: center;
 width: 150px;
 height: 25px;
 padding: 2px;
 font-size: 10px;
 background: #FFFFE0;
 border: 1px;
 border-radius: 8px;
 pointer-events: none;
}

/* this styles the bodytext */
	#bodytext { 
		margin-top: 5px;
		margin-left: 50px;
		font-size:18px;
		line-height: 25px;
		}
		
	#bodytext sup a.note {
		background-color:  #EDEDED;
		color: #000;
		margin-right: .2em;
		padding: .1em .2em .1em .2em;
		text-decoration: none;
		border: none;
		line-height: 0px;
		}
	#bodytext sup a.note:visited {
		background-color: #CCC;
		color: #000;
		}
	#bodytext sup a.note:hover, 
	#bodytext sup a.note:active {
		background-color: #CCC;
		color: #000;
		}

/* this styles the footnotes section */
	#footnotes {
		margin-left: 50px;
		}
	#footnotes sup a.note {
		text-decoration: none;
		color: #000;
		padding: .1em .2em .1em .2em;
		border: none;
		line-height: 0em;
		}
	#footnotes sup a.note:visited {
		background-color: #CCC;
		}
	#footnotes sup a.note:hover, 
	#footnotes sup a.note:active {
		background-color: #CCC;
		}

/* other colors to use: #eaaa13, #19add8, #f2f2f2, #fffff; 
fonts from google to get: body text: Poiret One, Headings: Goudy Bookletter 1911, Niconne*/
