
H1 {
	font-family: 
}

body {
	
}

.state{
	stroke: white;
	fill: #e3e3e3;
}

/* other colors to use: #eaaa13, #19add8, #f2f2f2, #fffff; 
fonts from google to get: body text: Poiret One, Headings: Goudy Bookletter 1911, Niconne*/
